body {
    background-color: aquamarine;
    https: //th.bing.com/th/id/R57b243e39754f128ada4454ac8c16852?rik=smpBEuqXquOndA&pid=ImgRaw
}

img {
    border-image-width: 50px;
    border-image-slice: 50px;
}
